.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(19, 19, 37);
  width: 100vw;
  height: 100px;
}
.logo {
  color: white;
  font-family: "Rubik Puddles", cursive;
  font-weight: bold;
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-left: 15px;
}
.links {
  display: flex;
  width: 400px;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

.links li {
  margin-top: 33px;
  padding: 3px;
}

.links li a {
  font-size: large;
  font-weight: 500;
}

.links li:hover {
  background-color: rgb(92, 130, 143);
  border-radius: 5px;
}

.links li a {
  text-decoration: none;
  color: white;
}

.img1 {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.text {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  text-shadow: 2px 2px rgb(82, 77, 77);
  font-family: monospace;
  font-size: 50px;
}
.form {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.c {
  position: relative;
  border: 1px solid rgb(182, 178, 178);
  background-color: white;
  width: 250px;
  height: 40px;
  display: inline-block;
  float: left;
  text-align: center;
  padding-top: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  font-size: larger;
}
.c:hover {
  transform: scale(1.03);
}
.flight {
  margin-top: 15px;
  margin-left: 164px;
  width: 1005px;
  border: 1px solid rgb(182, 178, 178);
  background-color: rgb(255, 255, 255);
  position: relative;
}
label {
  margin-left: 100px;
  font-size: 20px;
  display: inline-block;
}
input {
  width: 200px;
}
#name {
  margin-left: 5px;
}
#phone {
  margin-left: 10px;
}
#b {
  width: 140px;
}
#where {
  margin-left: 15px;
}
#arrivals {
  margin-left: 25px;
}
#a {
  width: 105px;
}
#email {
  margin-left: 40px;
}
#address {
  margin-left: 25px;
}
#people {
  margin-left: 8px;
}
#leaving {
  margin-left: 35px;
}
.su {
  margin-left: 80px;
  padding: 10px;
}
.travel {
  margin-top: 100px;
}
.flying {
  display: flex;
  justify-content: center;
  line-height: 0.5;
  font-family: cursive;
  font-size: 15px;
}
.journey {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: cursive;
  line-height: 0.6;
}
.explore {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  margin-top: 50px;
}
.d1 {
  width: 580px;
  height: 615px;
  position: absolute;
  margin-left: 60px;
  margin-top: 35px;
}
.d1:hover {
  transform: scale(1.03);
}
.dubai {
  position: relative;
  display: inline-block;
  margin-top: 80px;
  margin-left: 70px;
  font-size: 11px;
  height: 20px;
}
.p{
  margin-left: 70px;
}
.dubai2 {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  height: 20px;
  width: 10px;
  font-size: 40px;
}
.pr {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 14px;
}
.i {
  width: 280px;
  height: 300px;
  padding-left: 70px;
  margin-top: 20px;
}

.pic {
  width: 280px;
  height: 300px;
  margin-left: 320px;
  padding-bottom: 40px;
  position: absolute;
}
.pic:hover {
  transform: scale(1.03);
}

.s {
  position: relative;
  margin-left: 360px;
}
.sub {
  display: inline-block;
  font-size: 25px;
}

.sub1 {
  display: inline-block;
  font-size: 11px;
  margin-left: 9px;
}
.sub3 {
  display: inline-block;
  font-size: 11px;
  margin-left: 9px;
  margin-top: 210px;
}
.sub5 {
  display: inline-block;
  font-size: 11px;
  margin-left: 9px;
  margin-top: 9px;
}
.sub7 {
  display: inline-block;
  font-size: 11px;
  margin-left: 9px;
  margin-top: 209px;
}

#img3 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin-top: 200px;
}
#img4 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin-top: 200px;
}

.client {
  margin-top: 400px;
  font-family: cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.container {
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  width: 100vw;
  height: 400px;
}
.container::-webkit-scrollbar {
  display: none;
}
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  border: 2px solid black;
  display: inline-block;
  width: 280px;
  height: 300px;
  background-color: white;
  margin-right: 40px;
  font-size: 14px;
  transition: 0.3s ease;
}
.card img {
  width: 280px;
  height: 300px;
}
.card:hover {
  transform: scale(1.1);
}

.card:focus {
  outline: none;
}
.foot {
  display: flex;
}

.help {
  padding: 30px;
  width: 25%;
}

.help h3 {
  margin-left: 70px;
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
}

.help ul {
  list-style: none;
  margin-left: 30px;
}

.help li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 2;
  color: white;
  margin-bottom: 15px;
  border: 2px;
  text-size-adjust: 30px;
}

.help li a:hover {
  color: skyblue;
  text-decoration: underline;
}

.contactus {
  padding: 30px;
  width: 25%;
}

.contactus h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
  margin-left: 40px;
}

.contactus ul {
  list-style: none;
}

.contactus li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 2;
  color: white;
  margin-bottom: 15px;
  border: 2px;
  text-size-adjust: 30px;
}

.contactus li a:hover {
  color: skyblue;
  text-decoration: underline;
}

.quick {
  padding: 30px;
  width: 25%;
}

.quick h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
  margin-left: 40px;
}

.quick ul {
  list-style: none;
}

.quick li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 2;
  color: white;
  margin-bottom: 15px;
  border: 2px;
  text-size-adjust: 30px;
}

.quick li a:hover {
  color: skyblue;
  text-decoration: underline;
}

.social {
  padding: 30px;
  width: 25%;
}

.social h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
  margin-left: 25px;
}

.social ul {
  list-style: none;
}

.social li img {
  line-height: 2;
  color: white;
  padding-bottom: 10px;
}

.social li:hover {
  width: max-content;
  background-color: rgb(92, 130, 143);
  border-radius: 5px;
}

.copyright {
  color: white;
  margin-left: 75%;
}

.footer {
  background-color: rgb(30, 30, 66);
  width: 100vw;
}
